
.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.flex_row{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.flex_col{
  display: flex;
  flex-direction:column;
  flex-wrap: wrap;
  justify-content: center;
}

.App-link {
  color: #61dafb;
}

.coupons{
  row-gap:5px;
  column-gap:5px;
  justify-content: flex-start;
  padding:60px;
  /* below are meant to be removed just used for some test  but now i am liking the style of it */
  background-color:var(--CouponBackground);
  border: 5px solid var(--MediumShade);
  border-left: none;
  border-right: none;
}

@media screen and (max-width:450px){
  .coupons{
    padding:1rem;
  }
}

.fancy_button{
  background: #fff;
  -webkit-border-radius: 16;
  -moz-border-radius: 16;
  border-radius: 16px;
  -webkit-box-shadow: 2px 3px 5px #666666;
  -moz-box-shadow: 2px 3px 5px #666666;
  box-shadow: 2px 3px 5px #666666;
  font-family: Arial;
  color: var(--TextShade);
  padding: 10px 20px 10px 20px;
  border: solid var(--MediumShade) 4px;
  text-decoration: none;
}


.fancy_button:hover {
  background-image: -webkit-linear-gradient(top, var(--LightestNavShade), var(--DarkBtnShade));
  background-image: -moz-linear-gradient(top, var(--LightestNavShade), var(--DarkBtnShade));
  background-image: -ms-linear-gradient(top, var(--LightestNavShade), var(--DarkBtnShade));
  background-image: -o-linear-gradient(top, var(--LightestNavShade), var(--DarkBtnShade));
  background-image: linear-gradient(to bottom, var(--LightestNavShade), var(--DarkBtnShade));
  text-decoration: none;
  border: solid #fff 4px;
}