


.nav_item{
    list-style: none;
  
} 
.nav_link{
    text-decoration: none;
    color: var(--TextShade);
    font-weight: 700;
    font-size:0.5rem;
}

.nav_links_container{
    column-gap: 20px;
    row-gap: 20px;
    transition: all 0.5s ease-in-out;
}

.nav_container{
    justify-content: space-between;
    background-color: var(--LightestNavShade);
    padding: 1% 5%;
}
.nav_toggler{
    display: none;
    color: var(--TextShade);
}


@media screen and (max-width:600px){
    .nav_toggler{
        display:inherit;
    }

    .nav_container{
        position: relative;
    }

    .nav_links_container{
        background-color: var(--LightestNavShade);
        position:absolute;
        top:100%;
        left:-100%; 
        /* should think about the above property */
        display: flex;
        flex-direction: column;
        text-align: center;
        padding-block:20px;
    }
    .active{
        right:0;
        left:0;
    }

}










